<?xml version="1.0"?>
<!--
  One 6DOF arm hanging in isolation, for studying and calibrating a
  single arm. Mounted exactly like the RIGHT arm on the bench (same
  height, same orientation, same side=-1 hug sense), minus the bench
  geometry, so numbers read here transfer 1:1 to the full model.

  Usage:
    ros2 launch soma_description display.launch.py model:=single_arm.urdf.xacro
-->
<robot name="soma_single_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find soma_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find soma_description)/urdf/soma_arm.xacro"/>

  <link name="world"/>

  <xacro:soma_arm prefix="arm_" parent="world" side="-1">
    <origin xyz="0 0 0.343" rpy="${pi/2} ${pi/2} 0"/>
  </xacro:soma_arm>

</robot>
